<ion-view title="Nuevo Sistema de Justicia S.L.P.">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Bienvenido</h1>
<div class="intro">
<p>
El hombre nunca ha sido un ente aislado, ya que su supervivencia ha estado en manos de la colectividad. Desde la caza del mamut, hasta la actualidad, su desarrollo ha pendido del apoyo grupal y por lo tanto, de la conciliación de intereses individuales para la convención del grupo y así evolucionar satisfaciendo sus necesidades individuales, pero a la vez, con la necesidad de respetar las de sus semejantes, se ve obligado a regir esas relaciones de grupo con normas que definan obligaciones y derechos.
</p>
<p>
Creándose así el derecho como una necesidad de convivencia en la sociabilidad, que va dictando de acuerdo a sus demandas modificaciones a las reglas, concibiendo nuevas normas y desechando las normas inadecuadas, lo que nos dicta que el derecho es evolutivo a la par que el comportamiento de los grupos sociales, logrando a lo largo de la historia, una transformación muy importante en las Leyes Penales y en los procedimientos para aplicar esas leyes, que deben obedecer a tu tiempo y a tu espacio.
</p>
<p>
Es muy importante que conozcas y te integres a esta nueva cultura y practiques los valores y principios que la integran. Recuerda que tú hoy representas a la población que finca y forma a la nueva sociedad.     
</p>
</div>
  </ion-content>
</ion-view>
